.header {
    background-color: gray;
}
.main_part {
    background-color: white;
}
.footer {
    background-color: gray;
    text-align: center;
}
.login_table , .registration_table {
    width: 400px;
    margin: auto;
}
.welcome_content , .registration_content , .login_content , .main_content {
    text-align: center;
}
.welcome_content_table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
