[% WRAPPER wrapper.html %]

    <div class="main_content">

        <div>
            <h1> Administration </h1>
        </div>

        <div>
            <table border="1" class="main_content_table" id="main_table">
                <thead>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            Date-Time
                        </td>
                        <td>
                            Owner
                        </td>
                        <td>
                            Type
                        </td>
                        <td>
                            Text Data
                        </td>
                        <td>
                            Approve
                        </td>
                    </tr>
                </thead>
                <tbody>
                    [% FOREACH task IN tasks %]
                        <tr>
                            <td>
                                [% task.position %]
                            </td>
                            <td>
                                [% task.created %]
                            </td>
                            <td>
                                [% task.login %] ([% task.firstname %] [% task.lastname %])
                            </td>
                            <td>
                                [% task.type %]
                            </td>
                            <td>
                                [% task.data %]
                            </td>
                            <td>
                                [% IF task.approve %]
                                    <a target="_blank" href="[% task.approve %]">Approve</a>
                                [% END %]
                            </td>
                        </tr>
                    [% END %]
                </tbody>
            </table>
        </div>

        <script>
            $(function() {
                $('#tabs').tabs();
                new DataTable('#main_table');
            });
        </script>

    </div>

[% END %]