<div>
    <form method="POST" enctype="multipart/form-data">
        <input type='hidden' name='session_id' value='[% sid %]'>
        <input type='hidden' name='document_type' value='business card'>
        <div>
            <table border="1" class="main_content_table">
                <tr>
                    <td>
                        Firstname
                    </td>
                    <td>
                        <input type="text" name="firstname" value="[% firstname %]">
                    </td>
                </tr>
                <tr>
                    <td>
                        Lastname
                    </td>
                    <td>
                        <input type="text" name="lastname" value="[% lastname %]">
                    </td>
                </tr>
                <tr>
                    <td>
                        Position
                    </td>
                    <td>
                        <input type="text" name="position" value="[% position %]">
                    </td>
                </tr>
                <tr>
                    <td>
                        E-Mail
                    </td>
                    <td>
                        <input type="text" name="email" value="[% email %]">
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone
                    </td>
                    <td>
                        <input type="text" name="phone" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        Site
                    </td>
                    <td>
                        <input type="text" name="site" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        Picture
                    </td>
                    <td>
                        <input type="file" name="img">
                        Use 210 x 210 (or less) PNG file
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="create_pdf" value="Create PDF">
                    </td>
                </tr>
            </table>    
        </div>
    </form>
</div>