[% WRAPPER wrapper.html %]

    <div class="main_content">

        <div>
            <h1> PDF Creation and Downloading </h1>
        </div>

        <div>
            <table border="1" class="main_content_table" id="main_table">
                <thead>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            Date-Time
                        </td>
                        <td>
                            Type
                        </td>
                        <td>
                            Text Data
                        </td>
                        <td>
                            Download
                        </td>
                    </tr>
                </thead>
                <tbody>
                    [% FOREACH task IN tasks %]
                        <tr>
                            <td>
                                [% task.position %]
                            </td>
                            <td>
                                [% task.created %]
                            </td>
                            <td>
                                [% task.type %]
                            </td>
                            <td>
                                [% task.data %]
                            </td>
                            <td>
                                <a target="_blank" href="[% task.link %]">Download</a>
                            </td>
                        </tr>
                    [% END %]
                </tbody>
            </table>
        </div>

        <script>
            $(function() {
                $('#tabs').tabs();
                new DataTable('#main_table');
            });
        </script>

        <div id="tabs">
            <ul>
                <li><a href="#doc1">Business Card</a></li>
                <li><a href="#doc2">Post Card</a></li>
                <li><a href="#doc3">Album</a></li>
            </ul>
            <div id="doc1">
                [% INCLUDE business_card_form.html %]
            </div>

            <div id="doc2">
                [% INCLUDE post_card_form.html %]
            </div>

            <div id="doc3">
                [% INCLUDE album_form.html %]
            </div>
        </div>

    </div>

[% END %]