[% WRAPPER wrapper.html %]

    <div class="main_content">

        <div>
            <h1> PDF Creation and Downloading </h1>
        </div>

        <div>
            <table border="1" class="main_content_table">
                <tr>
                    <td>
                        #
                    </td>
                    <td>
                        Date-Time
                    </td>
                    <td>
                        Type
                    </td>
                    <td>
                        Text Data
                    </td>
                    <td>
                        Download
                    </td>
                </tr>
                [% FOREACH task IN tasks %]
                    <tr>
                        <td>
                            [% task.position %]
                        </td>
                        <td>
                            [% task.created %]
                        </td>
                        <td>
                            [% task.type %]
                        </td>
                        <td>
                            [% task.data %]
                        </td>
                        <td>
                            <a target="_blank" href="[% task.link %]">Download</a>
                        </td>
                    </tr>
                [% END %]
            </table>
        </div>

        [% INCLUDE business_card_form.html %]

        [% INCLUDE post_card_form.html %]

    </div>

[% END %]