[% WRAPPER wrapper.html %]

    <div class="welcome_content">
        <div>
            <h1> WEB TECH COURSE WORK </h1>
        </div>

        <div>
            <h2> Features: </h2>
        </div>

        <div>
            <table border="1" class="welcome_content_table">
                <tr>
                    <td colspan="3">
                        <b>General</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        OS
                    </td>
                    <td>
                        Ubuntu Linux
                    </td>
                    <td>
                        https://ubuntu.com/download
                    </td>
                </tr>
                <tr>
                    <td>
                        General architecture
                    </td>
                    <td>
                        CGI scipts + Apache2
                    </td>
                    <td>
                        https://httpd.apache.org/docs/trunk/howto/cgi.html
                    </td>
                </tr>
                <tr>
                    <td>
                        Server side programming
                    </td>
                    <td>
                        Perl v5.30
                    </td>
                    <td>
                        https://www.perl.org/
                    </td>
                </tr>
                <tr>
                    <td>
                        Client side programming
                    </td>
                    <td>
                        JavaScript + jQuery 4.0.0
                    </td>
                    <td>
                        https://jquery.com/
                    </td>
                </tr>
                <tr>
                    <td>
                        Database
                    </td>
                    <td>
                        MySQL
                    </td>
                    <td>
                        https://www.mysql.com/
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <b>JS Modules</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        jQuery UI + Themes
                    </td>
                    <td>
                        A curated set of user interface interactions, effects, widgets, and themes
                    </td>
                    <td>
                        https://jqueryui.com/download/
                    </td>
                </tr>
                <tr>
                    <td>
                        DataTables
                    </td>
                    <td>
                        Advanced interactive data grid for your data collections
                    </td>
                    <td>
                        https://datatables.net/
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <b>Perl Modules</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        Templates
                    </td>
                    <td>
                        Template - Front-end module to the Template Toolkit
                    </td>
                    <td>
                        https://metacpan.org/pod/Template
                    </td>
                </tr>
                <tr>
                    <td>
                        Database
                    </td>
                    <td>
                        DBI - Database independent interface for Perl
                    </td>
                    <td>
                        https://metacpan.org/pod/DBI
                    </td>
                </tr>
                <tr>
                    <td>
                        PDF
                    </td>
                    <td>
                        PDF::Builder - Facilitates the creation and modification of PDF files
                    </td>
                    <td>
                        https://metacpan.org/pod/PDF::Builder
                    </td>
                </tr>
            </table>
        </div>

        <div>
            &nbsp;
        </div>
    </div>

[% END %]